@media screen and (max-width: 991px){
    .lg-navbar-container {
        display: none;        
    }
}

@media screen and ( min-width: 992px) {
    .lg-navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .lg-nav-brand-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .lg-nav-brand {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding: 6px;
        border: 3px solid #4b6cc1;
    }

    .lg-nav-items-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-right: auto;
        padding: 6px 0;
        max-width: min-content;
    }

    .lg-nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 120px;
    }

    .lg-nav-icon {
        color: #ffffff;
        font-size: 22px;
        margin-right: 10px;
    }

    .lg-item {
        color: #ffffff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
}