* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background: linear-gradient(to top, #A6F6FF, #FAF2D3);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}